main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }